<% channel = RestClient.get "https://api.twitch.tv/helix/streams?user_id=#{configatron.twitch.channel}", {:'Client-ID' => configatron.twitch.clientid} %>
<% inchan = Oj.load(channel).fetch('data').first %>
<% print "#{inchan} \n" %>
<% if inchan.nil? == true %>
	<% @stream = "offline" %>
<% elsif inchan.nil? == false %>
	<% @stream = "online" %>
<% end %>

<%= simple_form_for(@requests) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="input-field col s6 form-inputs">
	  <%= f.input :songurl, placeholder:"Song link", label:false, input_html: {value: "https://"} %>
  </div>

  <div class="input-field col s6 form-inputs">
	  <%= f.input :twitchname, placeholder:"Twitch name", label:false, required:true, :validate => true %>
  </div>

  <div class="col s12 form-actions">
	  <% if @stream == "offline" %>
		  <%= f.button :submit, class: "btn disabled" %>
	  <% else %>
		  <%= f.button :submit, class: "btn waves-effect waves-green" %>
	  <% end %>
  </div>
<% end %>
