<!DOCTYPE html>
<html>
  <head>
	  <title><%= full_title(yield(:title)) %></title>
	  <%= csrf_meta_tags %>
	  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
	  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
	  <header><%= render 'layouts/header.html.erb' %></header>
	  <% flash.each do |message_type, message| %>
		  <%= javascript_tag "Materialize.toast('#{message}', 4000)" %>
	  <% end %>
  
	  <main>
	  <div class="container">
	  <% if @offline == true %>
		  <div class="row">
			  <a href="#modal1" data-toggle="modal" class="waves-effect waves-red btn modal-trigger btn-changes center"><i class="material-icons left">warning</i>Channel Offline</a>
			  <div id="modal1" class="modal">
				  <div class="modal-content">
					  <h4><i class="material-icons left large">warning</i>Channel Offline</h4>
					  <p>The twitch stream is currently offline, and we are not taking requests at current.</p>
				  </div>
				  <div class="modal-footer">
					  <a href="#!" class="modal-action modal-close waves-effect waves-green btn"><i class="material-icons left small">exit_to_app</i>Okay</a>
				  </div>
			  </div>
		  </div>
	  <% end %>
	  </div>
	  <%= yield %>
	<div class="fixed-action-btn horizontal">
		<% if user_signed_in? == true %>
			<a class="btn-floating btn-large red darken-1">
				<i class="large material-icons">lock_outline</i>
			</a>
			<ul>
				<li><%= link_to "Sign out", destroy_user_session_path, { :method=>:delete, :class=>"btn waves-effect waves-red" } %></li> 
			</ul>

		<% else %>
			<a class="btn-floating btn-large green darken-2">
				<i class="large material-icons">lock_open</i>
			</a>
			<ul>
				<li><%= link_to "Sign in", new_user_session_path, { :class=>"btn waves-effect waves-red" } %></li> 
			</ul>
		<% end %>
		
	</div>
  	</main>
	<footer class="page-footer"><%= render 'layouts/footer.html.erb' %></footer>
  </body>
</html>
